
{% extends "layouts/base-admin.html" %}

{% block title %} Infomation Class {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Infomation Class</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Thống kê</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Số giờ học của sinh viên</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    
                    <!-- [ stiped-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            
                            <div class="card-block table-border-style">
                                
                                <div class="table-responsive">
                                    
                                    <form action="/info_class" method="post" class="row">
                                        <select class="form-control" name="info-time" style="width: 30%;margin-left: 20px;">
                                            {% for time in times %}
                                            <option>{{time.day}}-{{time.month}}-{{time.year}}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="submit" name="search_time" class="btn btn-info" title="Search" data-toggle="tooltip" style="margin-left: 10px;">Search</button>
                                    </form>
                                    
                                    
                                    
                                    <br>
                                    <br>
                                    <table class="table table-striped">
                                        <thead>
                                           <td>Mã sinh viên</td>
                                           <td>Thời gian</td>
                                           <td>Trạng thái</td>
                                           
                                        </thead>
                                        {% for info in infos %}
                                        <tr>
                                            <td>{{ info.msv }}</td>
                                            <td>{{ info.time }}</td>
                                            <td>{{ info.status }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                     </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ stiped-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
